<div class="alert alert-sm alert-{{type}} alert-dismissible" role="alert">
	<button data-dismiss="alert" class="close"></button>
	<div class="row">
		<div class="col-1">
			<i class="fe {{symbol}} mr-2" aria-hidden="true"></i>
		</div>
		<div class="col-11">
			{{{message}}}
		</div>
	</div>
</div>

